<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952921194402-o31bk6si3cc48meetj4jig02slffb8am.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952921194402-o31bk6si3cc48meetj4jig02slffb8am</string>
	<key>API_KEY</key>
	<string>AIzaSyDSzsT_3SmPbMos1QBWwiZ_wnjzaDJpgkA</string>
	<key>GCM_SENDER_ID</key>
	<string>952921194402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodbankApp</string>
	<key>PROJECT_ID</key>
	<string>bloodbank31-6cbc0</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodbank31-6cbc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952921194402:ios:c954b54e0b1481fee87cfb</string>
</dict>
</plist>